.navigation-tabs {
    direction: rtl;
}
.navigation-tabs > * {
    direction: ltr;
}
.navigation-tabs::-webkit-scrollbar { /* Độ rộng của thanh scroll */
    width: 3px;
}
.navigation-tabs::-webkit-scrollbar-track { /* Track (phần nền của scrollbar) */
    background: #f2f2f2;
    border-radius: 10px;
}
.navigation-tabs::-webkit-scrollbar-thumb { /* Thumb (phần kéo được) */
    background: #bdbdbd;
    border-radius: 10px;
}
.navigation-tabs::-webkit-scrollbar-thumb:hover { /* Hover thumb */
    background: #8b8b8b;
}